<div [hidden]="!HideEmailPopup">
    <h1 matDialogTitle><img src="assets/logos/iNeed-logo.png" width="80px" height="35px">
        <button (click)="PasswordDialogRef.close(false)" class="popup-close">X</button>
    </h1>
    <mat-horizontal-stepper class="mat-elevation-z4 myclass1" [linear]="true">
        <mat-step [stepControl]="firstFormGroup">
            <form fxLayout="column" [formGroup]="firstFormGroup" class="padg-lft0">
                <!-- <div class="changeemail">
                    <mat-label>current email </mat-label>
                    <mat-form-field appearance="outline" fxFlex="50">
                        <input matInput type="text" class="form-control" formControlName="txtEmail" placeholder="email"
                           >
                   
                    </mat-form-field>
                </div> -->
                <div class="changeemail forgotemail" tab-index=1>
                    <mat-label>email </mat-label>
                    <mat-form-field appearance="outline" fxFlex="50">
                        <input matInput type="text" formControlName="txtEmail" maxlength="30" class="form-control"
                            placeholder="email" maxlength="50" autocomplete="off"
                            [ngClass]="{ 'is-invalid': validation.txtEmail.touched && validation.txtEmail.errors }">

                        <mat-error *ngIf="validation.txtEmail.errors && validation.txtEmail.touched"
                            class="invalid-feedback">
                            <mat-error *ngIf="validation.txtEmail.errors.required">email is required</mat-error>
                            <mat-error *ngIf="validation.txtEmail.errors.email&& validation.txtEmail.errors">enter valid
                                email address</mat-error>
                        </mat-error>

                    </mat-form-field>
                </div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>

    <div mat-dialog-actions class=" changebtn" fxLayout="row">
        <button mat-raised-button type="button" [disabled]="firstFormGroup.invalid" (click)="ResetPasswordDialog()"
            class="min-max110">
            reset password
        </button>
        <p>or <a routerLink="/login" (click)="PasswordDialogRef.close(false)">login</a></p>
    </div>
</div>
<div [hidden]="!HideEmailSuccessPopup" class="emailsuccess">
    <h1 matDialogTitle>  <img *ngIf="!isSuccess" class="tickmark" src="assets/home/tick.png" width="20px" height="20px">
        <img *ngIf="!isError" class="crossmark" src="assets/home/unchecked.jpg" width="20px" height="20px">
        <span class="password-forgot">forgot password</span>
        <button (click)="PasswordDialogRef.close(false) " class="popup-close">X</button>
    </h1>
    <div mat-dialog-content *ngIf="!isSuccess" class="forSuccess">
        <!-- <img src="assets/home/tick.png"><br> -->
      
        <p> {{this.MessageEmail}}</p>
    </div>
    <div mat-dialog-content *ngIf="!isError" class="forError">
          
        <!-- <img src="assets/home/tick.png"><br> -->
        <p> {{this.MessageEmail}}</p>
    </div>

    <!-- <div mat-dialog-actions class="ok-btn" fxLayout="row">
        <button mat-raised-button type="button" class="mat-accent mr-16 forOk for"
            (click)=" ResetPasswordDialogClose()">ok</button>
    </div> -->

</div>