<div class="page-layout simple fullwidth bgstring" fxLayout="column"> <!-- fusePerfectScrollbar -->
    
  <div class="banner-content" fxLayout="column" fxLayoutAlign="center center" 
  fxLayout.gt-md="row" fxLayout.gt-sm="row" fxLayout.gt-xs="row">
  <div class="forgot-password" [hidden]="!passwordForgot">
    <h1>forgot password</h1>
    <mat-horizontal-stepper >
        <mat-step [stepControl]="firstFormGroup">
            <form fxLayout="column" [formGroup]="firstFormGroup" class="padg-lft0">
                <div fxLayout="row" fxLayoutAlign="start " fxFlex="1 0 auto " class="h45 mob-div" tab-index=4>
                    <label>password</label>
                    <mat-form-field appearance="outline" fxFlex="50">
                            <input matInput type="password" formControlName="password" placeholder="password" maxlength="30"
                            autocomplete="off"
                            [ngClass]="{ 'is-invalid': txtEmailvalid.password.touched && txtEmailvalid.password.errors }">
                    
          
                          <mat-error *ngIf="txtEmailvalid.password.errors && txtEmailvalid.password.touched" class="invalid-feedback">
                            <mat-error *ngIf="txtEmailvalid.password.errors.required">password is required</mat-error>
                            <mat-error *ngIf="txtEmailvalid.password.errors.minlength">password must be at least 6 characters
                            </mat-error>
                          </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start " fxFlex="1 0 auto " class="h45 mob-div" tab-index=4>
                        <label>confirm password</label>
                        <mat-form-field appearance="outline" fxFlex="50">
                                <input matInput type="password" formControlName="confirmPassword" placeholder="confirm password" maxlength="30"
                                autocomplete="off"
                                [ngClass]="{ 'is-invalid': txtEmailvalid.confirmPassword.touched && txtEmailvalid.confirmPassword.errors }">
                        
              
                              <mat-error *ngIf="txtEmailvalid.confirmPassword.errors && txtEmailvalid.confirmPassword.touched" class="invalid-feedback">
                                <mat-error *ngIf="txtEmailvalid.confirmPassword.errors.required">confirm password is required</mat-error>
                                <!-- <mat-error *ngIf="txtEmailvalid.password.errors.minlength">Password must be at least 6 characters
                                </mat-error> -->
                                <mat-error *ngIf="txtEmailvalid.confirmPassword.errors.mustMatch">Passwords must match</mat-error> 
                              </mat-error>
                        </mat-form-field>
                    </div>
            
                <div class="passwordButton">
                        <button mat-raised-button [disabled]="firstFormGroup.invalid" (click)="EnableRegisterButton()">Register</button>
                    
                </div>
                </form>
                </mat-step>
                </mat-horizontal-stepper>
    
  </div>
  <!-- <div [hidden]="!linkExpired">
    <h2 class="expired-link">link expired</h2>
    <p>the link you requested has expired.</p>
  </div> -->
 
  <div [hidden]="!passwordSuccess" class="passwordSuccess" fxLayout="column" fxLayoutAlign="center center" 
  fxLayout.gt-md="row" fxLayout.gt-sm="row" fxLayout.gt-xs="row">
    <h4>password reset successfully. please  <a routerLink="/login">login</a></h4>
   
  </div>

  </div>
  </div>