.ihave   {    margin:1% 0px 0px 0px; background:none; 
    color: #fff;letter-spacing: 1px; padding-left:5%!important; 

    h1 {
       
       
        font-family: 'coheadlinew08-lightregular', sans-serif;
    }
    }
.ihave-link
    {
        color: #fff !important;
        text-decoration: underline;

        a { color: #fff !important;}
    }
    a.ihave-supplier   {   color: #fff; background: rgba(255,255,255,0.2); padding: 0px 5px 3px 5px; 
    }