

[hidden]
{
    display: none !important;
}
input.quantitynumber,.autokeyword
{
    margin-top: -15px;
}
input[type="text"]::placeholder,textarea[type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    opacity: 0.7; /* Firefox */
  }
  



