.faq  { width:95%;   margin:1% 0px 0px 0px; background:none; 
    color: #fff;letter-spacing: 1px; padding-left:5%!important; margin-bottom:2%;text-transform: lowercase;
    h2{
        font-size: 16px;
        font-weight: bold;
        margin: 15px 0px 2px 0px;
    }
p
{
    margin: 0;;
}

}